{% include "header.html "%}
<header class="masthead" style="background-image: url('static/image/0.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                  <div class="site-heading">
                    <h1>Contact Me</h1>
                    <span class="subheading">如果有任何事情想告訴我，歡迎在下方留言</span>
                  </div>
                </div>
            </div>
        </div>
</header>



{% include "footer.html" %}