 <!-- Footer -->

  <footer >
      <hr>
     <div class="container">
       <div class="row">
           <div class="col-lg-12 col-md-10 col-sm-auto" >
                <div class="footer-line">
                    <ul class="list-inline text-center">
                        <li  class="list-inline-item">
                            <a href="https://www.facebook.com/profile.php?id=100000255349785" target="_blank">
                               <span class="fa-stack fa-xl">
                                <i class="fa-solid fa-circle fa-stack-2x"></i>
                                <i class="fa-brands fa-facebook-f fa-stack-1x fa-inverse "></i>
                               </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://twitter.com/qiuyanquan1" target="_blank">
                                <span class="fa-stack fa-xl">
                                <i class="fa-solid fa-circle fa-stack-2x"></i>
                                <i class="fa-brands fa-twitter fa-stack-1x fa-inverse "></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.instagram.com/qiuyanquan/" target="_blank">
                                <span class="fa-stack fa-xl">
                                <i class="fa-solid fa-circle fa-stack-2x"></i>
                                <i class="fa-brands fa-instagram fa-stack-1x fa-inverse "></i>
                                </span>
                            </a>
                        </li>
                        <p>Copyright &copy; 2022 My portfolio website.</p>
                    </ul>
                </div>
           </div>

       </div>
     </div>
  </footer>


</body>
</html>